.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputContainer h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 1.5rem;
}

.inputContainer h1 span {
    color: var(--primary-color);
}

.inputContainer div{
    display: flex;
    margin-bottom: 2rem;
}

.inputContainer input {
    width: 100%;
    padding: 0.5rem 0.2rem 0.5rem 0;
    text-indent: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

}

.inputContainer input::placeholder {
    font-size: 0.9rem;
}

.inputContainer button{
    padding: 0 1rem;
    height: 3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

/* RESULT  */

.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

}
.result p {
    color: #fff;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.result button {
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    background: var(--primary-color);
    border: none;
}

.result button.copied {
    background: #fff;
    color: var(--primary-color);
}

.noData {
    color: #fff;
    font-size: 1rem;
}



/* BACKGROUND ANIMATE */


@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #67481e;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 9vmin;
    height: 9vmin;
    border-radius: 9vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 18;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 69%;
    left: 5%;
    animation-duration: 152s;
    animation-delay: -128s;
    transform-origin: -10vw 21vh;
    box-shadow: -18vmin 0 2.3878443907150464vmin currentColor;
}
.background span:nth-child(1) {
    color: #583C87;
    top: 40%;
    left: 31%;
    animation-duration: 115s;
    animation-delay: -243s;
    transform-origin: -18vw 24vh;
    box-shadow: -18vmin 0 2.8996143926352316vmin currentColor;
}
.background span:nth-child(2) {
    color: #FFACAC;
    top: 34%;
    left: 98%;
    animation-duration: 36s;
    animation-delay: -89s;
    transform-origin: -6vw 12vh;
    box-shadow: 18vmin 0 2.4182202583813135vmin currentColor;
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 84%;
    left: 45%;
    animation-duration: 18s;
    animation-delay: -10s;
    transform-origin: 7vw -1vh;
    box-shadow: -18vmin 0 3.233241452260298vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 45%;
    left: 14%;
    animation-duration: 60s;
    animation-delay: -198s;
    transform-origin: -14vw -1vh;
    box-shadow: 18vmin 0 3.220773900621432vmin currentColor;
}
.background span:nth-child(5) {
    color: #583C87;
    top: 98%;
    left: 64%;
    animation-duration: 255s;
    animation-delay: -306s;
    transform-origin: -5vw -5vh;
    box-shadow: 18vmin 0 2.5004730522942813vmin currentColor;
}
.background span:nth-child(6) {
    color: #FFACAC;
    top: 52%;
    left: 100%;
    animation-duration: 141s;
    animation-delay: -211s;
    transform-origin: -15vw -20vh;
    box-shadow: 18vmin 0 2.4450290319853183vmin currentColor;
}
.background span:nth-child(7) {
    color: #E45A84;
    top: 78%;
    left: 95%;
    animation-duration: 166s;
    animation-delay: -209s;
    transform-origin: -10vw 5vh;
    box-shadow: -18vmin 0 2.6831371474111068vmin currentColor;
}
.background span:nth-child(8) {
    color: #583C87;
    top: 33%;
    left: 11%;
    animation-duration: 130s;
    animation-delay: -122s;
    transform-origin: -19vw 8vh;
    box-shadow: 18vmin 0 3.1492057239921265vmin currentColor;
}
.background span:nth-child(9) {
    color: #E45A84;
    top: 62%;
    left: 31%;
    animation-duration: 194s;
    animation-delay: -297s;
    transform-origin: -7vw 8vh;
    box-shadow: 18vmin 0 2.452099533054147vmin currentColor;
}
.background span:nth-child(10) {
    color: #FFACAC;
    top: 77%;
    left: 93%;
    animation-duration: 226s;
    animation-delay: -117s;
    transform-origin: 14vw 14vh;
    box-shadow: -18vmin 0 2.938578332747677vmin currentColor;
}
.background span:nth-child(11) {
    color: #FFACAC;
    top: 72%;
    left: 46%;
    animation-duration: 314s;
    animation-delay: -42s;
    transform-origin: 21vw 25vh;
    box-shadow: 18vmin 0 2.5607642338305823vmin currentColor;
}
.background span:nth-child(12) {
    color: #FFACAC;
    top: 49%;
    left: 24%;
    animation-duration: 28s;
    animation-delay: -117s;
    transform-origin: -16vw 7vh;
    box-shadow: -18vmin 0 2.8205305472795885vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 68%;
    left: 54%;
    animation-duration: 237s;
    animation-delay: -165s;
    transform-origin: -8vw 9vh;
    box-shadow: -18vmin 0 2.775093852179931vmin currentColor;
}
.background span:nth-child(14) {
    color: #583C87;
    top: 32%;
    left: 90%;
    animation-duration: 184s;
    animation-delay: -25s;
    transform-origin: 24vw -24vh;
    box-shadow: -18vmin 0 3.165570744590477vmin currentColor;
}
.background span:nth-child(15) {
    color: #E45A84;
    top: 25%;
    left: 61%;
    animation-duration: 195s;
    animation-delay: -222s;
    transform-origin: 15vw -15vh;
    box-shadow: 18vmin 0 3.0778157960852766vmin currentColor;
}
.background span:nth-child(16) {
    color: #583C87;
    top: 88%;
    left: 62%;
    animation-duration: 6s;
    animation-delay: -230s;
    transform-origin: -3vw -22vh;
    box-shadow: 18vmin 0 2.7059630248694018vmin currentColor;
}
.background span:nth-child(17) {
    color: #E45A84;
    top: 40%;
    left: 51%;
    animation-duration: 27s;
    animation-delay: -225s;
    transform-origin: -22vw 14vh;
    box-shadow: -18vmin 0 2.6737031522714956vmin currentColor;
}
.background span:nth-child(18) {
    color: #FFACAC;
    top: 34%;
    left: 25%;
    animation-duration: 253s;
    animation-delay: -303s;
    transform-origin: 3vw -19vh;
    box-shadow: 18vmin 0 2.9039714593232304vmin currentColor;
}
